* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 15px;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #cc212a;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  height: 70%;
}
.main-body {
  width: fit-content;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-r {
  background-color: #cc212a;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding: 12px;
  transform: translate(0px, -25px);
}

@media all and (min-width: 768px) {
  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 15px;
  }
  .footer-r {
    transform: translate(0px, 0px);
  }
}
